#
# Copyright (c) 2019, RTE (http://www.rte-france.com)
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

# List of all checks
# https://clang.llvm.org/extra/clang-tidy/
# https://clang.llvm.org/extra/clang-tidy/checks/list.html

Checks: '*,
  -abseil-*,
  -android-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-special-member-functions,
  -fuchsia-*,
  -google-explicit-constructor,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-explicit-conversions,
  -hicpp-no-array-decay,
  -hicpp-special-member-functions,
  -llvm-header-guard,
  -modernize-pass-by-value,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -readability-redundant-declaration,
  -zircon-*'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/powsybl/.*|src/.*|test/.*'
