#
# Copyright (c) 2019, RTE (http://www.rte-france.com)
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

# List of all checks
# https://clang.llvm.org/extra/clang-tidy/
# https://clang.llvm.org/extra/clang-tidy/checks/list.html

Checks: '-*,
  llvm-include-order,
  llvm-namespace-comment,
  modernize-*,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-function-size,
  -readability-magic-numbers,
  -readability-redundant-declaration,
  -readability-redundant-access-specifiers,
  -readability-identifier-length
'

WarningsAsErrors: '*'
HeaderFilterRegex: 'include/powsybl/.*|src/.*|extensions/.*|test/.*'

CheckOptions:
- { key: readability-function-cognitive-complexity.IgnoreMacros, value: true }

ExtraArgsBefore:
  - '-Wno-unknown-warning-option'
